*{
  margin: 0;
  padding: 0;
}
body{
  background-color: blue;
}
/* Sign in page */
.main{
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  /* background-color: blue; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub-main{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: auto;
  width: 80%;
  /* box-shadow: 11px 12px 13px 12px rgb(207, 207, 207); */
  padding-top: 20px;
  padding-bottom: 5rem;
  border-radius: 20px;
  background-color: white;
  margin-top: 1rem;
}
.heading{
  padding-top: 3rem;
  font-size: 2.5rem;
}
.email-container{
  /* display: flex; */
  /* flex-direction: column; */
  padding-top: 2rem;
  
}
.email-container input{
  padding: 1.1rem;
  width: 45%;
  border-radius: 1rem ;
  border: none;
  outline: none;
  background-color: rgba(211, 211, 211, 0.666);
  color: black;
  text-align: left;
  font-size: 1rem;
}
.email-container input::placeholder{
  color: grey;  text-align: left;

}
.password-container{
  /* display: flex; */
  /* flex-direction: column; */
  padding-top: 1rem;
  
}
.password-container input{
  padding: 1.1rem;
  width: 45%;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: rgba(211, 211, 211, 0.666);
  text-align: left;
  font-size: 1rem;

}
.checkbox-container{
  padding-top: 1.2rem;
}

.checkbox-container input{
  padding: 5rem;
  margin-right: .5rem;
}
.checkbox-container label{
  font-size: 1.2rem;
  font-weight: 500;
}

.btn{
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem 0rem; 
  width: 40%;
  border:none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  background-color: blue;
  color: white;
  margin-top: 1.2rem;
  letter-spacing: .1ch;
}

.btn:hover{
    background-color: blue;

}
/* Webcam */
.cam-display-container{
  /* border: 10px solid yellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  /* position: relative; */
}
.cam-display{
  width: 50%;
  height: 70%;
  margin-right: 1rem;
}

.student-list{
 
  width: 50%;
  background-color: rgba(211, 211, 211, 0.666);
  border-radius: 2rem;
  text-align: left;
  padding: 2rem 0rem;
  height: 70%;
  margin: auto;
}
.student{
  /* border: 1px solid purple; */
  /* display: flex;
  flex-wrap: wrap; */
  margin-left: 2rem;
  /* background-color: #1E1F25; */
  /* border-radius: 20px; */
  height: 320px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
}
.student-names{
  width: 100%;
  display: block;
}
.web{
  height: auto;
}
.table-container {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  cursor: pointer;
}

.table-container td, .table-container th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-container tr:nth-child(even){background-color: #f2f2f2;}

.table-container tr:hover {background-color: #ddd;}

.table-container th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  /* background-color: rgb(81, 81, 250);
   */
  background-color: grey;
  color: white;
}

@media (min-width:1920px)
{
  .sub-main{
    margin-top: 5rem;
  }  
}



@media (max-width:768px)
{
  .sub-main{
    width: 85%;
    padding-top:10px;   
    margin-top: 3rem; 
  }  
  .signin-heading{
    font-size: 5rem;
  }
  .email-container input{
    padding: 1.2rem;
    width: 70%;
    font-size: 1.1rem;
  }
  .password-container input{
    padding: 1.2rem;
    width: 70%;
    font-size: 1.1rem;
  }
  .btn{
    font-size: 1.2rem;
    padding: 1rem 0rem; 
    width: 60%;
  }
}

@media (max-width:500px)
{
  .sub-main{
    width: 85%;
    padding-top:10px;   
    margin-top: 3rem; 
  }  
  .signin-heading{
    font-size: 2.5rem;
  }
  .email-container input{
    padding: 1rem;
    width: 70%;
    font-size: 1.1rem;
  }
  .password-container input{
    padding: 1rem;
    width: 70%;
    font-size: 1.1rem;
  }
  .btn{
    font-size: 1.2rem;
    padding: 1rem 0rem; 
    width: 70%;
    /* letter-spacing: 0; */
  }
}
/* Sign in page */

/* Dashboard */

.box-container{
  cursor: pointer;
  width: 80%;
  margin: 1rem auto;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(211, 211, 211, 0.666);
  border-radius: 20px;
  /* text-align: center; */
  padding: 1.5rem;
  /* margin-top: 2rem; */
}
.boxes{
  margin-top: 2rem;
}
.dashboard-sub-head{
  font-size: 1.3rem;
  font-weight: 500;
}

.dashboard-btn{
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 1rem; 
  width: 15%;
  border:none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  background-color: blue;
  color: white;
  margin-top: 1.2rem;
  letter-spacing: .1ch;
}
.student-name{
  font-size: 2rem;
  padding-bottom: .5rem;
}
.student-metadata span{
  /* display: flex;
  justify-content: space-between; */
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  /* color: gray; */
  letter-spacing: .2ch;
  
}



@media(max-width:850px){
  
  .dashboard-sub-head{
    font-size: 1.2rem;
  }
  
  .dashboard-btn{
    width: 13%;
  }
  
}
@media(max-width:450px){
  
  .dashboard-heading{
    /* font-size: 2.1rem; */
  }
  .dashboard-sub-head{
    font-size: 1.1rem;
  }
  
  .dashboard-btn{
    width: 12%;
  }
  .box-container{
    width: 90%;
    margin: 1rem auto;
    padding: 1.5rem 1rem;
  }
  
}
@media(max-width:370px){
  
  .dashboard-sub-head{
    font-size: 1rem;
  }
  
  .dashboard-btn{
    width: 10%;
  }
  .box-container{
    width: 90%;
    margin: 1rem auto;
    padding: 1.5rem 1rem;
  }
  
}
/* Dashboard */

